/* Size the phone size box */
/* Style the phonesize. */
.box {
    width: 22%;
    height: 80%;
    background-color: rgb(109, 192, 188);
    margin: 0 auto;
    position: relative;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    height:10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Navbar links */
.item {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
}

.icon {
    width: 100%;
    height: 40%;
    font-size: 27px;
    text-align: center;
    padding-top: 10%;
    color: gray;
}

.name {
    height: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    font-size: 17px;
    color: #363535;
}

/* Navbar links on mouse-over */
.navbar .item:hover .icon {
    color: white;
    cursor: pointer;
}
.navbar .item:hover .name {
    color: white;
    cursor: pointer;
}

/* Current/active navbar link */
.active .icon {
    color: white;
}

.active .name {
    color: white;
}

.container {
    height: 19%;
    position: relative;
    text-align: center;
    color: #363535;
}
.button {
background-color :rgb(47, 79, 79);
  border: black;
  color: white;
  padding: 12px 28px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 7px;
 

}

.form {
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 8%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.medicine_box {
    background-color: rgb(244, 240, 240);  
    backdrop-filter: blur(10px);
    width: 120px;
    margin-left: 60px;
    
    height: 30px;
    margin-bottom: 2%;
}

.title {
    position: absolute;
    color: black;
    font-size:25px;
    font-family: 'Trebuchet MS';
    top: 15px;
    left: 85px;
}

.reminder {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    color: gray;
    text-align: left;
    padding-left: 8px;

  padding-top: 10px;
}

.home_icon {
    position: absolute;
    top: 13px;
    right: 20px;
    float: right;
    width: auto;
    height: 50%;
    font-size: 35px;
    color: black;
  
}

.back_image {
    width: 100%;
    height: 9%;
    
    opacity: 0.3;
    color: white;
}
.scroll {
    height: 81%;
    width: 100%;
    background-color: white;
    margin-bottom: 80px;
    font-family: 'Oswald';
    color: #363535;
    
    overflow-y: scroll;
    /* position: absolute; */
}

.weeklyBox {
    width: 40px;
    height: 60px;
    background-color: rgb(109, 192, 188);
    margin: 5;
    font-family: 'Trebuchet MS';
    
}

.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    font-family: 'Trebuchet MS';
    padding: 10px 15px;
    padding-left: 5px;
  }

  .Mon {
    background-color: white;
  }
  .Mon:hover {
    background-color: rgb(109, 192, 188);
  }
  .Mon:focus {
    background-color: rgb(109, 192, 188);
  }
  


  .Tues {
    background-color: white;
  }
  .Tues:hover {
    background-color: rgb(109, 192, 188);
  }
  .Tues:focus {
    background-color: rgb(109, 192, 188);
  }

  
  .Wed {
    background-color: white;
  }
  .Wed:hover {
    background-color: rgb(109, 192, 188);
  }
  .Wed:focus {
    background-color: rgb(109, 192, 188);
  }

  
  .Thur {
    background-color: white;
  }
  .Thur:hover {
    background-color: rgb(109, 192, 188);
  }
  .Thur:focus {
    background-color: rgb(109, 192, 188);
  }


  
  .Fri {
    background-color: white;
  }
  .Fri:hover {
    background-color: rgb(109, 192, 188);
  }
  .Fri:focus {
    background-color: rgb(109, 192, 188);
  }


  .Sat {
    background-color: white;
  }
  .Sat:hover {
    background-color: rgb(109, 192, 188);
  }
  .Sat:focus {
    background-color: rgb(109, 192, 188);
  }



  .Sun {
    background-color: white;
  }
  .Sun:hover {
    background-color: rgb(109, 192, 188);
  }
  .Sun:focus {
    background-color: rgb(109, 192, 188);
  }

  .overlap {
    height: 69%;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index: 9;
}

.keyboard {
    position: absolute;
    bottom: 9%;
    width: 100%;
    height: 0;
    transition: all .3s ease-out;
}