
body {
    background: #066acd;
}



#newtaskMon {
    position: relative;
    padding: 10px 20px;
}

#newtaskMon input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskMon input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskMon button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksMon {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 0px;
}

.taskMon {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-top: 0px;
    padding: 5px 10px;
    display: flex;
    
}

.taskMon span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskMon button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    height: 100%;
    width: 40px;
    border-radius: 5px; 
    
}

.taskMon button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskTue {
    position: relative;
    padding: 10px 20px;
}

#newtaskTue input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskTue input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskTue button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksTue {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskTue {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskTue span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskTue button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskTue button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskWed {
    position: relative;
    padding: 10px 20px;
}

#newtaskWed input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskWed input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskWed button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksWed {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskWed {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskWed span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskWed button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskWed button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskThu {
    position: relative;
    padding: 10px 20px;
}

#newtaskThu input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskThu input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskThu button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksThu {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskThu {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskThu span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskThu button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskThu button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskFri {
    position: relative;
    padding: 10px 20px;
}

#newtaskFri input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskFri input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskFri button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksFri {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskFri {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskFri span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskFri button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskFri button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskSat {
    position: relative;
    padding: 10px 20px;
}

#newtaskSat input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskSat input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskSat button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksSat {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskSat {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskSat span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskSat button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskSat button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}

#newtaskSun {
    position: relative;
    padding: 10px 20px;
}

#newtaskSun input {
    width: 66%;
    height: 10%;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#newtaskSun input:focus {
    outline: none;
    border-color: #0d75ec;
}

#newtaskSun button {
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(28, 79, 79);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#tasksSun {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 10px;
}

.taskSun {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.taskSun span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.taskSun button {
    background-color: rgb(28, 79, 79);;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.taskSun button:before {
    display: inline-block;
    content: "\00d7";
    zoom: 2
}