/* Size the phone size box */
/* Style the phonesize. */
.box {
    width: 22%;
    height: 80%;
    background-color: rgb(109, 192, 188);
    margin: 0 auto;
    position: relative;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    height:10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Navbar links */
.item {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
}

.icon {
    width: 100%;
    height: 40%;
    font-size: 25px;
    text-align: center;
    padding-top: 10%;
    color: gray;
}

.name {
    height: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    font-size: 15px;
    color: #363535;
}

/* Navbar links on mouse-over */
.navbar .item:hover .icon {
    color: white;
    cursor: pointer;
}
.navbar .item:hover .name {
    color: white;
    cursor: pointer;
}

/* Current/active navbar link */
.active .icon {
    color: white;
}

.active .name {
    color: white;
}

.container {
    height: 10%;
    position: relative;
    text-align: center;
    color: #363535;
}

.title {
    position: absolute;
    color: black;
    font-size: 35px;
    font-family: 'Trebuchet MS';
    top: 10px;
    left: 16px;
}

.reminder {
    font-family: 'Trebuchet MS';
    font-size: 15px;
    color: gray;
    text-align: left;
    padding-left: 8px;
}

.home_icon {
    position: absolute;
    top: 16px;
    right: 8px;
    float: right;
    width: auto;
    height: 50%;
    font-size: 35px;
}

.back_image {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    margin-bottom: 10px;
    color: white;
}
.scroll {
    height: 80.5%;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    font-family: 'Oswald';
    color: #363535;
    
    overflow-y: scroll;
    /* position: absolute; */
}

.weeklyBox {
    width: 40px;
    height: 60px;
    background-color: rgb(109, 192, 188);
    margin: 5;
    font-family: 'Trebuchet MS';
    
}

.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    font-family: 'Trebuchet MS';
    padding: 10px 15px;
    
    
  }

  .Mon {
    background-color: white;
    
  }
  .Mon:hover {
    background-color: rgb(109, 192, 188);
  }
  .Mon:focus {
    background-color: rgb(109, 192, 188);
  }

  .monDate {
      padding-top: 10px;
  }
  .Tues {
    background-color: white;
  }
  .Tues:hover {
    background-color: rgb(109, 192, 188);
  }
  .Tues:focus {
    background-color: rgb(109, 192, 188);
  }

  
  .Wed {
    background-color: white;
  }
  .Wed:hover {
    background-color: rgb(109, 192, 188);
  }
  .Wed:focus {
    background-color: rgb(109, 192, 188);
  }

  
  .Thur {
    background-color: white;
  }
  .Thur:hover {
    background-color: rgb(109, 192, 188);
  }
  .Thur:focus {
    background-color: rgb(109, 192, 188);
  }


  
  .Fri {
    background-color: white;
  }
  .Fri:hover {
    background-color: rgb(109, 192, 188);
  }
  .Fri:focus {
    background-color: rgb(109, 192, 188);
  }


  .Sat {
    background-color: white;
  }
  .Sat:hover {
    background-color: rgb(109, 192, 188);
  }
  .Sat:focus {
    background-color: rgb(109, 192, 188);
  }



  .Sun {
    background-color: white;
  }
  .Sun:hover {
    background-color: rgb(109, 192, 188);
  }
  .Sun:focus {
    background-color: rgb(109, 192, 188);
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .main div {
    float: left;
    clear: none;
}
  
.subheading {
  font-family: 'Oswald';
  font-size: 22px;
  padding-left: 5%;
  margin-top: 6%;
  margin-bottom: 3%;
}


.subheading2 {
  font-family: 'Oswald';
  font-size: 13px;
  margin-top: 9%;
  margin-bottom: 3%;
  width: 67%;
  text-align: right;
  color: rgb(142, 208, 44);
}


/* WORKOUT CSS */
.workout {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 7%;
}

.workout_box {
  background-color: rgb(244, 240, 240);  
  backdrop-filter: blur(10px);
  width: 100%;
  height: inherit;
  height: 34%;
  margin-bottom: 2%;
}

.workout_box_icon {
  width: 14%;
  height: 70%;
  position: absolute;
  top: 15%;
  margin-left: 3%;
}

.workout_box_date {
  width: 25%;
  height: 85%;
  margin-left: 73%;
  top: 55%;
  position: absolute;
  text-align: right;
  bottom: 0;
  font-family: 'Oswald';
  font-size: 15px;
}

.workout_box_name {
  width: 45%;
  height: 100%;
  margin-left: 23%;
}

.workout_name {
  font-family: 'Oswald';
  font-size: 17px;
  vertical-align: text-bottom;
}

.workout_metric {
  font-family: 'Oswald';
  font-size: 19px;
  vertical-align: text-top;
  color:  rgb(109, 192, 188);
}


  
  
  .buttonpop {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .buttonpop:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 0px auto;
    padding: 20px;
    margin-top: 170px;
    background: #fff;
    border-radius: 5px;
    width: 260px;
    height: 50px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: -20px;
    right: 10px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #1e2b23;
  }
  
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }