/* Size the phone size box */
/* Style the phonesize. */
.box {
    
    width: 22%;
    height: 80%;
    background-color: rgb(109, 192, 188);
    margin: 0 auto;
    position: relative;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    height:10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Navbar links */
.item {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
}

.icon {
    width: 100%;
    height: 40%;
    font-size: 25px;
    text-align: center;
    padding-top: 10%;
    color: gray;
}

.name {
    height: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    font-size: 15px;
    color: #363535;
}

/* Navbar links on mouse-over */
.navbar .item:hover .icon {
    color: white;
    cursor: pointer;
}
.navbar .item:hover .name {
    color: white;
    cursor: pointer;
}

/* Current/active navbar link */
.active .icon {
    color: white;
}

.active .name {
    color: white;
}

.form {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 8%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    font: 'Oswald';
}

.searchbtn {
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 5px;
    color:black;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.searchbtn:hover {
   background-color: gray;
   color: white;
}

.container {
    position: relative;
    text-align: center;
    color: #363535;
}

.title {
    position: absolute;
    color: #363535;
    font-size: 30px;
    font-family: 'Oswald';
    top: 8px;
    left: 16px;
}

.home_icon {
    position: absolute;
    top: 16px;
    right: 8px;
    float: right;
    width: auto;
    height: 50%;
    font-size: 35px;
}

.back_image {
    width: 100%;
    height: 10%;
    padding-bottom: 10px;
    opacity: 0.3;
    color: white;
}

.scroll {
    height: 69%;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    /* position: absolute; */
}

.activity {
    background-color: rgb(244, 240, 240);  
    backdrop-filter: blur(10px);
    width: 90%;
    height: 35%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 7%;
}

.subheading {
    font-family: 'Oswald';
    font-size: 22px;
    padding-left: 5%;
    margin-top: 6%;
    margin-bottom: 3%;
}

.move {
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    height: inherit;
    margin-left: 3%;
    padding-bottom: 2%;
}

.exercise {
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    height: inherit;
    margin-left: 3%;
    padding-bottom: 2%;
}

.stand {
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    height: inherit;
    margin-left: 3%;
    padding-bottom: 2%;
}

.smalltext {
    font-family: 'Oswald';
    font-size: 15px;
}

.largettext {
    font-family: 'Oswald';
    font-size: 17px;
}

.circle {
    width: 40%;
    height: 65%;
    position: absolute;
    top: 20%;
    right: 5%;
}

.subheading2 {
    font-family: 'Oswald';
    font-size: 13px;
    margin-top: 9%;
    margin-bottom: 3%;
    width: 67%;
    text-align: right;
    color: rgb(142, 208, 44);
}
.subheading3 {
    font-family: 'Oswald';
    font-size: 13px;
    margin-top: 9%;
    margin-bottom: 3%;
    width: 60%;
    text-align: right;
    color: rgb(142, 208, 44);
}

/* WORKOUT CSS */
.workout {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 7%;
}

.workout_box {
    background-color: rgb(244, 240, 240);  
    backdrop-filter: blur(10px);
    width: 100%;
    height: inherit;
    height: 34%;
    margin-bottom: 2%;
}

.workout_box_icon {
    width: 14%;
    height: 70%;
    position: absolute;
    top: 15%;
    margin-left: 3%;
}

.workout_box_date {
    width: 25%;
    height: 85%;
    margin-left: 73%;
    top: 55%;
    position: absolute;
    text-align: right;
    bottom: 0;
    font-family: 'Oswald';
    font-size: 15px;
}

.workout_box_name {
    width: 45%;
    height: 100%;
    margin-left: 23%;
}

.workout_name {
    font-family: 'Oswald';
    font-size: 17px;
    vertical-align: text-bottom;
}

.workout_metric {
    font-family: 'Oswald';
    font-size: 19px;
    vertical-align: text-top;
    color:  rgb(109, 192, 188);
}

/* MEDICATION CSS */
.medicine {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 7%;
}

.medicine_box {
    background-color: rgb(244, 240, 240);  
    backdrop-filter: blur(10px);
    width: 100%;
    height: inherit;
    height: 34%;
    margin-bottom: 2%;
}

.medicine_box_icon {
    width: 14%;
    height: 70%;
    position: absolute;
    top: 15%;
    margin-left: 3%;
}

.medicine_box_date {
    width: 25%;
    height: 85%;
    margin-left: 73%;
    top: 55%;
    position: absolute;
    text-align: right;
    bottom: 0;
    font-family: 'Oswald';
    font-size: 15px;
}

.medicine_box_name {
    width: 45%;
    height: 100%;
    margin-left: 23%;
}

.medicine_name {
    font-family: 'Oswald';
    font-size: 17px;
    vertical-align: text-bottom;
}

.medicine_metric_taken {
    font-family: 'Oswald';
    font-size: 19px;
    vertical-align: text-top;
    color:  rgb(117, 192, 109);
}

.medicine_metric_not_taken {
    font-family: 'Oswald';
    font-size: 19px;
    vertical-align: text-top;
    color:  rgb(196, 86, 86);
}

.main div {
    float: left;
    clear: none;
}